html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('img/cherry.png');
  background-size: contain;
  background-position: center;
}

.ly_header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
}
.ly_header_inner {
  padding: 10px 0 10px;
  height: 60px;
  width: 100%;
}
.bl_header {
  border: 5px solid #fff;
  height: 100%;
  width: 60%;
  margin: auto;
}

.ly_cont {
  padding: 200px 0 160px 0;
  width: 100%;
  margin: auto;
}
.ly_cont_col {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.ly_cont_main {
  flex: 1;
  margin-right: 3.25203%;
}

.ly_lineup {
  padding-top: 30px;
  padding-bottom: 30px;
}

.el_btn {
  display: block;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  background-color: #e25c00;
  border: 2px solid black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  transition: .25s;
}
.el_btn:focus,
.el_btn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #e25c00;
}

.el_lv2Heading {
  font-size: 1.2rem;
  margin-left: 420px;
}
.ly_cont_side {
  flex: 0 0 260px;
}
.el_lv4Heading {
}
@media screen and (max-width:768px;) {
  .ly_cont.ly_cont__col {
    flex-direction: column;
  }
  .ly_cont_main {
    margin-right: 0;
    margin-bottom: 60px;
  }
}

.ly_footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}
.hp_btGray {
  border-top: 1px solid #777;
}
.ly_footer_inner {
  padding: 10px 0 20px;
  height: 20px;
  width: 100%;
}
.bl_footerCopyright {
  border: 5px solid #fff;
  height: 100%;
  width: 960px;
  margin: auto;
  background-color: transparent;
}

.hp_centered {margin: auto;}
.hp_positionCentered {position: 50% 50%;}
.hp_bgcBlue {background-color: #66CCFF;}
.hp_bgcCherry {background-color: #FF6699;}
.hp_bgcGreen {background-color: #66FF99;}

table {
  margin: 10px;
  font-size: 14pt;
  padding: 2px 10px;
  border-width: 2px;
  background-color: transparent;
}
tr th {
  background-color: teal;
  color: white;
}
tr td {
  background-color: navy;
  color: white;
}










.rly_header {
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
}
.rly_header_inner {
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.rbl_txt {
  color: red;
  opacity: 0.2;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: left;
}
.rbl_list {
  color: red;
  opacity: 0.2;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: left;
}

.rly_cont {
  max-width: 1230px;
  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: silver;
}
.rly_cont_main {

}
.rly_cont_col {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.rly_cont_modal {
  flex: 0 0 auto;
}