<!doctype html>
<html lang="ja">
<meta charset="utf-8">
<div>{% load static %}</div>
<link rel="stylesheet" type="text/css" href="{% static 'src/css/style.css' %}" />

<title>{{title}}</title>

<body>
  <header class="ly_header">
    <div class="ly_header_inner">
      <div class="bl_header hp_centered">
      </div>
      <!-- /.bl_header -->
    </div>
    <!-- /.ly_header_inner -->
  </header>
  <div class="ly_cont">
    <div class="ly_cont_col">
      <main class="ly_cont_main">
        <section class="hp_bgcGray">
          <h1>院長のスマホへ送信！</h1>
          <h2 class="el_lv2Heading">往診申し込みが完了しました。</h2>
        </section>
        <article class="ly_lineup hp_bgcGray">
          <h3></h3>
          <h4 class="el_lv4Heading">追って電話にてお返事を差し上げます。</h4>
        </article>
        
        <a href="{% url 'index' %}">　戻る　</a>
      </main>
    </div>
    <!-- /.ly_cont__col -->
    
  </div>
  <!-- /.ly_cont -->
  <footer>
    <div class="ly_footer">
      <div class="ly_footer_inner">
        <h1></h1>
        <small class="el_footerCopyright">@2020 Go AtHome Clinic.</small>
      </div>
      <!-- .ly_footer_inner -->
    </div>
    <!-- .ly_footer -->
  </footer>
</body>

</html>